ion-card {
  margin: 20px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}

.horizontal-card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  .card-content {
    flex: 1;
  }

  img {
    max-width: 150px;
    object-fit: cover;
  }
}
